@model projeto.Models.Produto

@{
    ViewBag.Title = "Details";
}

<h2>Visualizar</h2>

<fieldset>
    <legend>Produto</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Valor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Valor)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Voltar para a lista", "Index")
</p>
